
.img-car{  /*carousel*/
  width: 50%;
  height: auto;
}

.dim{

  display: flex;
  justify-content: center;

}

.carousel-inner{

  width: 50%;
  height: auto;
}

.carousel {

  display: flex;
  justify-content: center;

}


.car{
  width: 50%;
  
}

.carousel-control-prev,.carousel-control-next {
  opacity: 0;
  transition: opacity 0.2s ease; 
}


#carouselExampleAutoplaying:hover .carousel-control-prev,
#carouselExampleAutoplaying:hover .carousel-control-next {
  opacity: 1;
}

  /*fin carousel*/

.txt{
color: rgb(236, 220, 162);

}





body{
  font-family: Montserrat;
  
}




header{
  margin-top: 20px;
  padding-left:200px ;
  color: rgb(166, 137, 29);

}




.felix{
  width: 35%;
  margin-top: 30px;
  
  
}





.background{

  z-index: -1;
}

.nin{

  position:fixed;
  
  width: 100%;
  height:100%;
  background-image: url(birdsFinal.png);
  background-position: bottom -5px right ;
  z-index: -2;


}


.filter{
  position:fixed;
  width: 100%;
  height:100%;
  background-position: bottom 20px right ;
  z-index: -1;
  background-color: black;
  opacity: 0.65;
}



.contacts{

  margin-top: 20%;

}

.logoC{
  margin-right: 1em;
}


.scrolle{
    overflow:scroll;
    height:100vh;
    padding-right:10px;
    padding-top: 50px;
    scroll-behavior: smooth; 
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;     /* Firefox */
}
  
  
.scrolle::-webkit-scrollbar { 
  display: none;  /*  désactive la barre de scroll pour Safari et Chrome */
}

.txtpres{

  /*padding: 1%;
  border-style: inset;
  */
  color: rgb(236, 220, 162);
  text-align: justify;
}

p{
line-height: 1.7;
text-shadow: 0px 0px 0px black

}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  opacity: 0.65;
}

.vsmall {
  width: 50px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0px solid;
  border-radius: 10px;
  background: rgb(113,134,134);
  background: linear-gradient(0deg, rgba(113,134,134,1) 0%, rgba(162,119,25,0) 100%);
  
  
  margin-right: 2%;

  
}


.vmed {
  width: 65px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0px solid;
  border-radius: 10px;
  background: rgb(113,134,134);
  background: linear-gradient(0deg, rgba(113,134,134,1) 0%, rgba(162,119,25,0) 100%);
  
  
  margin-right: 2%;

  
}


.vbig{

  width: 85px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border: 0px solid;
  border-radius: 10px;
  background: rgb(113,134,134);
  background: linear-gradient(0deg, rgba(113,134,134,1) 0%, rgba(162,119,25,0.10270045518207283) 100%);

}



.card-title{
  font-weight: bold;
}

.card-img-top{

  object-fit: cover
}



.Logo{

  margin-right: 3%;
}


.nav-item a:hover {
  color: rgb(134, 108, 15) !important;
  
}

  
   
@media screen and (max-width:390px) {
    .scrolle{
      overflow:hidden;
      height:auto;
     }
   }



@media (orientation: portrait) {
  
  
  .scrolle {
    overflow:initial;


  }

  .nav{

    display: none;
  }


  }



